body {
    background-color: rgb(250, 218, 176);
}
ul>li {
    line-height: 2;
}

ol>li {
    line-height: 3;
}
hr {
    border-top: 1px solid black;
    border-top: dashed;
}
li {
    font-size: large;
}
img {
    border: solid black;
}
ul {
    list-style-type: square;
}
nav {
    margin-bottom: 20px;
    text-align: center;
}

a:link, a:visited {
    color: black;
}

a {
    text-decoration: none;
}